*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
.header{
    
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80px;
    background:#f4f6f9;
    color: white;
    font-size: 24px;
    grid-template-columns: 1fr 1fr;
    
}
.imgBox{
    display: grid;
    padding-left: 150px;
    
}
.imgBox img{
   
  
   background-size: contain;
   background-repeat: no-repeat;
   height: 50px;
   width: 150px;
   box-sizing: border-box;
   object-fit: cover;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding-right: 250px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.header ul li{
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: 14px;
}
/*       바디영역     */
th, td{
    border-bottom: 1px solid black;
}
th{
    font-size: 25px;
    text-align: center;
}
td{
    font-size: 20px;
    height: 40px;
}
#questionBody tr td:nth-child(2){
    width: 600px;
    padding-left: 20px;

}
.body{
    background: #f4f6f9;

}
.main{
    background: #f4f6f9;
    
}
.wrap{
    
    width: 800px;
    height: 760px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    border: solid 1px black;
   
}
.tableWrap button{
    width: 50px;
    height: 40px;
    font-size: 25px;
    padding-bottom: 10px;
}
.tableWrap{
    padding: 25px;
    width: 800px;
    height: 550px;
    margin: 0 auto;
    margin-top: 100px;
    overflow-y: auto;
    border: solid 3px rgb(177, 176, 176);
    border-radius: 7px;
}
.none{
    display: none;
}
.block{
    display: block;
}
.buttonWrap{
    width: 150px;
    height: 50px;
    margin: 20px auto;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(168, 167, 167);
}
.startButton:hover{
    background-color: rgb(129, 129, 129);
    color: white;
}
.startButton{
    width: 150px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}
